* {
	color: lightgrey;
}

.title {
	background-color: #53415C;
	align-items: top;
    justify-content: top;
}

.header {
	text-align: center;
	font-size: 50px;
	margin: auto;
	display: block;
	width: 100%;
	padding-top: 10px;

}


body {
    background-color: #1C1C1C;
    font-family: helvetica;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}



.leftbar {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 80%;
    width: 65%;
    position: fixed;
    z-index: 1;
    top: 150;
    left: 150;
	overflow-x: hidden;
}

.leftbar li {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.leftbar h1 {
	font-size: 70px;
}

.movieList {
	list-style-type: none;
}

.movieList button {
	font-size: 30px;
	color: lightgrey;
	background-color: black;
}

.movieList h2 {
	font-size: 50px;
}


ul {
	list-style: none;
}

.toprightbar {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 30%;
    width: 30%;
    position: fixed;
    z-index: 1;
    right: 2%;
	overflow-x: hidden;
}

.toprightbar li {
	display: flex;
    flex-direction: row;
    align-items: center;
	margin: auto;
	padding-left: 50px;
}

.toprightbar h2 {

	padding: 10px 10px 10px 10px;

}

.toprightbar button {

	padding: 10px 10px 10px 10px;
	font-size: 20px;
	color: lightgrey;
	background-color: black;

}

.bottomrightbar {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 40%;
    width: 30%;
    position: fixed;
    z-index: 1;
    bottom: 5%;
    right: 2%;
	overflow-x: hidden;
}

.bottomrightbar button {

	font-size: 20px;
	color: lightgrey;
	background-color: black;

}

.bottomrightbar li {
	display: flex;
    flex-direction: row;
    align-items: center;
	margin: auto;
	padding-left: 50px;
}

.bottomrightbar h2 {

	padding: 10px 10px 10px 10px;

}

