* {
	color: lightgrey;
}

.title {
	background-color: #53415C;
	align-items: top;
    justify-content: top;
}

.header {
	text-align: center;
	font-size: 30px;
	margin: auto;
	display: block;
	width: 100%;
	padding-top: 10px;

}


body {
    background-color: #1C1C1C;
    font-family: helvetica;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.leftbar {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 100%;
    width: 60%;
    position: fixed;
    z-index: 1;
    top: 150;
    left: 150;
	overflow-x: hidden;
}
.rightbar {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	border-radius: 10px;
	height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 150;
    right: 0;
	overflow-x: hidden;
}