* {
	color: lightgrey;
}

.title {
	background-color: #53415C;
	align-items: top;
    justify-content: top;
}

.header {
	text-align: center;
	font-size: 30px;
	margin: auto;
	display: block;
	width: 100%;
	padding-top: 10px;

}


body {
    background-color: #1C1C1C;
    font-family: helvetica;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
	background-color: #7C4420;
	margin: auto;
	display: block;
	text-align: center;
	width: 1000px;
	border-radius: 10px;
}